<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script type="text/javascript">
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var container = document.getElementById('example1');

        var chart = new google.visualization.Timeline(container);

        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        dataTable.addRows([
            [ 'Sprint 1', new Date(2014, 1, 1), new Date(2014, 1, 14) ],
            [ 'Sprint 2', new Date(2014, 1, 15), new Date(2014, 1, 30) ],
            [ 'Sprint 3', new Date(2014, 2, 1), new Date(2014, 2, 14) ]
        ]);

        chart.draw(dataTable);
    }
</script>
<div id="example1" style="width: 900px; height: 180px;"></div>


<div id="chart" style="width: 900px; height: 500px;"></div>

<%= @chart.render_chart('chart') %>